@import url('https://fonts.googleapis.com/css?family=Oswald:300');

body{
    background-color: aliceblue;
    font-family:'Oswald', sans-serif;
    text-align: center ;
    margin: 0;

}
nav{
    padding: 0;
    margin: 0;
    background-color: black;
    height: 100%;
    overflow: auto;
    width:200px;
    position: fixed;
}
nav a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: beige;
    padding: 16px;

}
nav a:hover{
    transition-duration: .6s;
    background-color: aliceblue;
    color: black;
}
main{
    margin-left: 200px;
    padding: 1px 16px;
    
}